main {
    .imagen-tipo1 {
        width: 300px;
        height: 500px;
        padding: 5px;
        margin: 5px 10px;
        margin-left: 30px;
        justify-self: center;

    }
    .imagen-tipo1:hover {
        transform: scale(1.25);
     }
   


    .p2 {
        width: 300px;
        font-size: 20px;
        font-weight: 300;
        word-spacing: 5px;
        text-align: center;
        justify-self: center;
    }

    .direccion {
        width: 300px;
        font-size: 20px;
        font-weight: 500;
        word-spacing: 5px;
        text-align: center;
        justify-self: center;
        padding: 5px;
        margin: 5px 50px;
    }

    #lista-departamentos {
        font-size: 20px;
        font-weight: 400;
        line-height: 40pt;
        text-align: center;
        width: 50%;
        border-width: 3pt;
        border-color: black;
        margin: 0 auto;
    }

    caption {
        text-align: center;
        font-size: 50px;
        font-weight:700 ;
    }
}

.grid-container {
    display: grid;
    grid-template-areas:
        "destacadas"
        "foto1"
        "direc1"
        "info1"
        "foto2 "
        "direc2 "
        "info2 "
        "foto3 "
        "direc3"
        "info3"
        "recientes"
        "foto4"
        "direc4"
        "info4" 
        "foto5" 
        "direc5"
        "info5"
        "foto6"
        "direc6"
        "info6"
        "acerca"
        "nosotros"
        "lista"
        "deptos";
    grid-template-columns:1fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

@media only screen and (min-width:764px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "destacadas destacadas"
            "foto1 direc1"
            "foto1 info1"
            "foto2 direc2"
            "foto2 info2"
            "foto3 direc3"
            "foto3 info3"
            "recientes recientes"
            "foto4 direc4"
            "foto4 info4"
            "foto5 direc5"
            "foto5 info5"
            "foto6 direc6"
            "foto6 info6"
            "acerca acerca"
            "nosotros nosotros"
            "lista lista"
            "deptos deptos";
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
    }
}

@media only screen and (min-width:1024px) {
    .grid-container {
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-areas:
        "destacadas destacadas destacadas"
        "foto1 foto2 foto3"
        "direc1 direc2 direc3"
        "info1 info2 info3"
        "recientes recientes recientes"
        "foto4 foto5 foto6"
        "direc4 direc5 direc6"
        "info4 info5 info6"
        "acerca acerca acerca"
        "nosotros nosotros nosotros"
        "lista lista lista"
        "deptos deptos deptos";
        }
}









#propiedades-destacadas {
    grid-area: destacadas;
}

#propiedades-recientes {
    grid-area: recientes;
}

#foto1 {
    grid-area: foto1;
}

#foto2 {
    grid-area: foto2;
}

#foto3 {
    grid-area: foto3;
}

#foto4 {
    grid-area: foto4;
}

#foto5 {
    grid-area: foto5;
}

#foto6 {
    grid-area: foto6;
}

#direc1 {
    grid-area: direc1;
}

#direc2 {
    grid-area: direc2;
}

#direc3 {
    grid-area: direc3;
}

#direc4 {
    grid-area: direc4;
}

#direc5 {
    grid-area: direc5;
}

#direc6 {
    grid-area: direc6;
}

#info1 {
    grid-area: info1;
}

#info2 {
    grid-area: info2;
}

#info3 {
    grid-area: info3;
}

#info4 {
    grid-area: info4;
}

#info5 {
    grid-area: info5;
}

#info6 {
    grid-area: info6;
}

#acerca-de-nosotros {
    grid-area: acerca;
}

#nosotros {
    grid-area: nosotros;
}

#lista {
    grid-area: lista;
}

#lista-departamentos {
    grid-area: deptos;
}